.config {
  width: 100%;
  padding: 30px 20px 30px 20px;
}

.config__body {
  width: 500px;
  margin: 10px auto;
}

.config__shortcut {
  padding-top: 10px;
  width: 400px;
  margin: 0 auto;
}

.config__shortcut_head {
  color: #8A9BA8 !important;
  width: 200px;
  text-align: center !important;
}

.config__shortcut td {
  text-align: center !important;
}
