.episode {
  display: flex;
  height: 130px;
}

.episode__thumbnail {
  width: 130px;
}

.episode__image {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.episode__info {
  flex: 1;
  padding-left: 20px;
}

.episode__description {
  margin-top: 5px;
  height: 73px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.episode__title {
  height: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
}
