.footer {
  width: white;
  border-top: 1px solid #BFCCD6;
  height: 60px;
  display: flex;
  width: 100%;
}

.footer__play_info {
  width: 183px;
}

.footer__player {
  max-width: 100%;
  flex: 1;
}
